<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
    Macros: {
      N: "{\\mathbb N}",
      Z: "{\\mathbb Z}",
      Q: "{\\mathbb Q}",
      R: "{\\mathbb R}",
      C: "{\\mathbb C}",
      curlies: ["{\\lbrace #1 \\brace}", 1],
      inv: ["{#1^{-1}}", 1]
    }
  },
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }

});
</script>

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->